<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <div class="contenedor-cuadrado">
          <ion-icon name="musical-notes-outline" class="icono"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Awesome Label</ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-grid style="padding-bottom: 20%;">
    <ion-row>
      <ion-col class="col_reproductor">
        <ion-button (click)="previaCancion()" fill="clear" shape="round">
          <ion-icon name="play-skip-back-outline"class="left_right_icon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button (click)="reproducirOpausar()" fill="clear" shape="round">
          <ion-icon class="play_button" *ngIf="!reproduciendo" name="play-circle"></ion-icon>
          <ion-icon class="play_button" *ngIf="reproduciendo" name="pause-circle"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="col_reproductor">
        <ion-button (click)="siguienteCancion()" fill="clear" shape="round"> 
          <ion-icon name="play-skip-forward-outline" class="left_right_icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-footer>