<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="comprobar()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <div class="contenedor-cuadrado">
          <ion-icon name="musical-notes-outline" class="icono"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="scrollable-text"> {{titulo}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label slot="start"> {{progresoStr}} </ion-label>
    <ion-label slot="end"> {{duracionStr}} </ion-label>
  </ion-item>

  <ion-progress-bar class="ion-padding"
  [value]="progreso"
  color="primary"
  mode="md"
  class="custom-progress-bar"
></ion-progress-bar>

</ion-content>

<ion-footer>
  <ion-grid style="padding-bottom: 20%;">
    <ion-row>
      <ion-col class="col_reproductor">
        <ion-button (click)="previaCancion()" fill="clear" shape="round">
          <ion-icon name="play-skip-back-outline"class="left_right_icon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button (click)="reproducirOpausar()" fill="clear" shape="round">
          <ion-icon class="play_button" *ngIf="!reproduciendo" name="play-circle"></ion-icon>
          <ion-icon class="play_button" *ngIf="reproduciendo" name="pause-circle"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="col_reproductor">
        <ion-button (click)="siguienteCancion()" fill="clear" shape="round"> 
          <ion-icon name="play-skip-forward-outline" class="left_right_icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-footer>